<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/b3-production/css/style.css">
</head>
<body>
    <header id="header">
        <div id="nav-div">
            <nav>
                <ul>
                    <li><a href="/b3-production/">Home</a></li>
                    <li><a href="/b3-production/projects">View Issues</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <h1>404: Page Not Found</h1>
        <p>Oops! The page you are looking for does not exist. You may have mistyped the address or the page may have moved.</p>
    </main>
</body>
</html>
